<!-- Clients Aside -->
<aside class="clients" id="enlaces">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img src="img/logos/sg.png" width="100px" class="img-responsive img-right" alt="">
                </a>
            </div>
             <div class="col-md-60 col-sm-6">
                  <a href="#">
                     <img src="img/logos/python.png" width="100px" class="img-responsive img-center" alt="">
                </a>
            </div>
        </div>
    </div>
</aside>
